
{% extends 'base.html.twig' %}
{% block title %}Departments{% endblock %}

{% block bread %}
→ Departments
{% endblock %} 

{% block body %}

<div class="mb-2">
  <p> Liste aller Abteilungen</p>
</div> 
<div class="mb-5">
  <hr>
</div> 

  {% if departments|length > 0 %}
    {% for department in departments %}
    <div class="mb-4">
    <div class="text-2xl">
        Department's name: {{ department.name }}
    </div>  
    </div> 
    {% endfor %}
    {% else %}
      There's nothing here!
    {% endif %}

{% endblock %}
